@model IEnumerable<BrandVM>

<div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-2">
    @foreach (var category in Model)
    {
        <div class="col">
            <div class="text-center">
                <img src="~/@category.ImageUrl" height="70" class="p-3" />
                <h5 class="card-title">@category.Name</h5>
            </div>
        </div>
    }
</div>
