@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Home Page</h1>
    <p class="lead text-dimgrey"><strong>This Is an E-Commerce App, that was built using ASP.NET Core MVC.</strong></p>
</div>
