@model IEnumerable<ProductVM>

@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/loadingspinner.css" rel="stylesheet" />
<style>
    .main-section {
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 100%;
    }

    .head-section {
        background: linear-gradient(26deg,#5137AD, #6C4DCC 75%);
    }
</style>

<div class="head-section text-light">
    <div class="container-fluid col-12 col-lg-11">
        <div class="d-flex justify-content-between align-items-center py-5">
            <div class="col-8">
                <h1 class="display-6 fw-bold">Welcome to E-Store</h1>
                <p class="fs-4">This Is an E-Commerce App, that was built using ASP.NET Core MVC.</p>
                <button class="btn btn-light" type="button">Start Shopping</button>
            </div>
            <div class="col-4">
                <img src="~/images/site/homepage.png" class="col-12" />
            </div>
        </div>
    </div>
</div>


<div class="container-fluid col-12 col-lg-11 my-5">
    <h2 class="text-center fw-bold mb-5">Shop By Category</h2>
    <div class="mb-5" id="categories-container"></div>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3" id="data-container">
    </div>
</div>

@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            let pageNumber = 1;

            loadCategories();
            loadData();
            addMoreBtn.onclick = function () { loadData() };

            function loadData() {
                fetch(`/Home/LoadProducts?pageNumber=${pageNumber}`, {
                    headers: { 'Content-Type': 'application/json' },
                    method: 'Get',
                }).then(response => {
                    if (!response.ok) {
                        throw new Error(response.status);
                    }

                    return response.text();
                }).then(data => {
                    if (data !== null) {
                        document.getElementById('data-container').innerHTML += data;
                    }
                }).catch(error => {
                    alert(error);
                });
            };

            function loadCategories() {
                fetch(`/Home/LoadCategories`, {
                    headers: { 'Content-Type': 'application/json' },
                    method: 'Get',
                }).then(response => {
                    if (!response.ok) {
                        throw new Error(response.status);
                    }

                    return response.text();
                }).then(data => {
                    if (data !== null) {
                        document.getElementById('categories-container').innerHTML += data;
                    }
                }).catch(error => {
                    alert(error);
                });
            };
        });
    </script>
}