@model IEnumerable<ProductVM>

@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/loadingspinner.css" rel="stylesheet" />
<style>
    .main-section {
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 100%;
    }

    .head-section {
        background: linear-gradient(26deg,#5137AD, #6C4DCC 75%);
    }
</style>

<section>
    <div class="head-section text-light">
        <div class="container-fluid col-12 col-lg-11">
            <div class="d-flex justify-content-between align-items-center py-5">
                <div class="col-8">
                    <h1 class="display-6 fw-bold">Welcome to E-Store</h1>
                    <p class="fs-4">This Is an E-Commerce App, that was built using ASP.NET Core MVC.</p>
                    <button class="btn btn-light" type="button">Start Shopping</button>
                </div>
                <div class="col-4">
                    <img src="~/images/site/homepage.png" class="col-12" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid col-12 col-lg-11 py-5">
        <h2 class="text-center fw-bold mb-5">Shop By Category</h2>
        <div id="categories-container"></div>
    </div>
    <div class="py-5 bg-light">
        <h2 class="text-center fw-bold mb-5">Shop By Brand</h2>
        <div class="container-fluid col-12 col-lg-11" id="brands-container"></div>
    </div>
    <div class="container-fluid col-12 col-lg-11 py-5">
        <h2 class="text-center fw-bold mb-5">New Cummers</h2>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3" id="products-container"></div>
    </div>
    <div class="mb-5">
    </div>
</section>



@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            let pageNumber = 1;

            loadData('/Home/LoadCategories', 'categories-container');
            loadData('/Home/LoadBrands', 'brands-container');
            loadData('/Home/LoadProducts', 'products-container');

            function loadData(url, parentDiv) {
                fetch(url, {
                    headers: { 'Content-Type': 'application/json' },
                    method: 'Get',
                }).then(response => {
                    if (!response.ok) {
                        throw new Error(response.status);
                    }

                    return response.text();
                }).then(data => {
                    document.getElementById(parentDiv).innerHTML += data;
                }).catch(error => {
                    alert(error);
                });
            };
        });
    </script>
}