@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <h1 class="display-4">Privacy Page</h1>
    <p class="lead text-dimgrey mb-2"><strong>Use this page to detail your site's privacy policy.</strong></p>
</div>

