<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow">
            <div class="container-fluid col-12 col-lg-11 px-0">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">E-Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Shop">Shop</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Products" asp-action="Index">My Products</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid col-12 col-lg-11 px-0 main-section">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-lg-start text-white footer" style="background-color: #1c2331">
        <section style="background-color: #6351ce">
            <div class="container-fluid col-12 col-lg-11 px-0 d-flex justify-content-between py-3">
                <span>Get connected with us on social networks:</span>
                <a href="https://github.com/Yousef-Osman" class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </section>
        <section class="container-fluid col-12 col-lg-11 px-0">
            <div class="text-center text-md-start mt-5">
                <div class="row justify-content-between mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">E-Store</h6>
                        <p>
                            This Is an E-Commerce App, that was built
                            using ASP.NET Core MVC.
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                        <p>
                            <a asp-controller="Home" asp-action="Shop" class="text-decoration-none text-white">Shop</a>
                        </p>
                        <p>
                            <a asp-controller="ShoppingCart" asp-action="Index" class="text-decoration-none text-white">Shopping Cart</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                        <p>
                            <a href="https://getbootstrap.com/" class="text-decoration-none text-white">Bootstrap</a>
                        </p>
                        <p>
                            <a href="https://fontawesome.com/icons" class="text-decoration-none text-white">Font Awsome</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Contacts</h6>
                        <p><i class="fas fa-envelope mr-3"></i> youssef.othman.m@outlook.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +20 1229778668</p>

                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 - E-Store
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
