@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    <li>
        <a class="nav-link text-dark" asp-controller="ShoppingCart" asp-action="Index">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger"
                  id="cart-item-count" hidden>0</span>
        </a>
    </li>
    @if (User.Identity.IsAuthenticated)
    {
        @*var fullName = $"{UserManager.GetUserAsync(User).Result.FirstName} {UserManager.GetUserAsync(User).Result.LastName}";*@
        <li class="nav-item">
            @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserAsync(User).Result.FirstName</a>*@
            <div class="dropdown">
                <button class="nav-link border-0 bg-transparent text-dark dropdown-toggle" type="button" id="profile-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    Hello @UserManager.GetUserAsync(User).Result.FirstName
                </button>
                <ul class="dropdown-menu" aria-labelledby="profile-btn">
                    <li><a class="dropdown-item" asp-controller="Orders" asp-action="Index">Orders</a></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a></li>
                    @if (User.IsInRole(UserRoles.SuperAdmin.ToString()))
                    {
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Manage Users</a></li>
                    }
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link border-0 bg-transparent text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>


