@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row m-5 no-gutters shadow-lg">
        <div class="col-md-6 d-none d-md-block px-0" style="height: 520px;overflow: hidden;">
            <img src="~/images/site/login.jpg" class="img-fluid" style="min-height:100%;" />
        </div>
        <div class="col-md-6 bg-white p-5">
            <h3 class="pb-3">Login</h3>
            <div class="form-style">
                <form id="account" method="post">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username or email" />
                        <label asp-for="Input.UserName" class="form-label">Username/Email</label>
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <a class="text-decoration-none" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="pb-2">
                        <button id="login-submit" type="submit" class="btn btn-dark w-100 font-weight-bold mt-2 py-2">Log in</button>
                    </div>
                </form>
                <div class="pt-4 text-center">
                    <p>Don't have an account? <a class="text-decoration-none" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create one</a></p>
                    <a class="d-block text-decoration-none" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </div>
            </div>

        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
