@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row m-5 no-gutters shadow-lg">
        <div class="col-md-6 bg-white p-5">
            <h3 class="pb-3">Create an account</h3>
            <div class="form-style">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="pb-2">
                        <button id="registerSubmit" type="submit" class="btn btn-dark w-100 font-weight-bold mt-2 py-2">Register</button>
                    </div>
                </form>
                <div class="pt-4 text-center">
                    <p>Already have an account? <a class="text-decoration-none" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-block px-0" style="height: 520px;overflow: hidden;">
            <img src="~/images/site/login.jpg" class="img-fluid" style="min-height:100%;" />
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
