@using E_Store.Models.Enums;
@model IEnumerable<Order>

@{
    ViewData["Title"] = "Orders";
}

<link href="~/css/loadingspinner.css" rel="stylesheet" />
<style>
    .table {
        color: #54595e;
    }
</style>

<section>
    <h4 class=" mt-4 text-uppercase text-dim"><strong>Orders</strong></h4>

    <div id="data-container"></div>
    <div class="alert alert-warning mt-4" role="alert" id="no-data-alert" hidden>
        <i class="fa-solid fa-circle-exclamation pe-1"></i>
        You have no orders yet!
        <strong><a class="text-decoration-none ps-2" style="color:#8B4513" asp-controller="Home" asp-action="Index">Start Shopping</a></strong>
    </div>
    <div class="text-center mt-4">
        <button id="load-more" class="btn btn-outline-secondary" hidden>Load More</button>
        <p id="no-more-data" hidden>There is no more data to load</p>
        <div class="loader-container"></div>
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body px-4 py-3">
                    <h4 class="my-3 text-danger">Delete Order</h4>
                    <div class="mb-3">
                        <p>Are you sure you want to delete this order?</p>
                    </div>
                    <form method="post" asp-action="DeleteOrder">
                        <input name="id" value="" id="order-id" hidden />
                        <div class="d-flex justify-content-end mb-3">
                            <button type="submit" class="btn btn-danger px-3 me-1">Yes</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @* <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            const deleteRoleModal = new bootstrap.Modal(document.getElementById('delete-modal'));

            document.querySelectorAll('.delete-btn').forEach(button => {
                button.addEventListener('click', function (e) {
                    document.getElementById('order-id').value = this.value;
                    deleteRoleModal.show();
                });
            });
        });
    </script>*@
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            let pageNumber = 1;
            const addMoreBtn = document.getElementById('load-more');
            const noMoreData = document.getElementById('no-more-data');
            const loadingSpinner = document.querySelector('.loader-container');

            loadData();
            addMoreBtn.onclick = function () { loadData() };

            function loadData() {
                loadingSpinner.classList.add('loader');
                fetch(`/Orders/LoadOrders?pageNumber=${pageNumber}`, {
                    headers: { 'Content-Type': 'application/json' },
                    method: 'Get',
                }).then(response => {
                    if (!response.ok) {
                        throw new Error(response.status);
                    } else if (response.status == 204) {
                        addMoreBtn.hidden = true;
                        noMoreData.hidden = false;
                        return null;
                    }
                    return response.text();
                }).then(data => {
                    if (data !== null) {
                        document.getElementById('data-container').innerHTML += data;
                        if (pageNumber == 1)
                            addMoreBtn.hidden = false;

                        pageNumber++;
                    } else if (data === null && pageNumber == 1) {
                        document.getElementById('no-data-alert').hidden = false;
                    }

                    loadingSpinner.classList.remove('loader');
                }).catch(error => {
                    loadingSpinner.classList.remove('loader');
                    alert(error);
                });
            };
        });
    </script>
}